@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #154467;
}

.container {
  position: fixed;
  right: 2rem;
  top: 2rem;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 0.3rem;
  transition: all 0.5s;
}

.container.active {
  height: 21rem;
}

.dropdown__toggler {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fa3e80;
}

.dropdown__toggler button {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}

.dropdown__toggler button i {
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.5s;
}

.dropdown__toggler button i.active {
  transform: rotate(405deg);
}

.dropdown__list {
  width: 100%;
  height: 100%;
}

.dropdown__item {
  width: 100%;
  height: 3rem;
}

.dropdown__item:hover {
  background-color: #04a8f4;
}

.dropdown__item a {
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 4rem;
  text-decoration: none;
}

.dropdown__item a i {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #154568;
  font-size: 1.5rem;
}

.dropdown__item a span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #3b5060;
}

.dropdown__item:hover a i,
.dropdown__item:hover a span {
  color: #fff;
}
